* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: darkolivegreen;
    height: 100vh;
    display: flex;
}

.container {
    flex: auto;
}

/*Instruction pop-up*/
.instruction-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.instruction-text.visible {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .8);
    font-size: 6em;
    border: 6px solid black;
    border-radius: 16px;
}

.instruction-text-small {
    font-size: .3em;
}

p {
    font-size: .3em;
    text-align: center;
}

h6 {
    margin-bottom: 0;
}

/*Title of game*/
.game-title {
    color: rgb(238, 184, 36);
    font-family: serif;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    margin-bottom: -40px;
    margin-top: 10px;
    text-shadow: 4px 3px black;
}

/*game area*/
.game-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 8px;
    margin: 50px;
    justify-content: center;
    position: relative;

}

/*Score container*/
.score-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 30px;
    outline: 8px double black;
    border-radius: 2em;
    color: white;
}

/*Score and time*/
.score {
    font-family: serif;
    font-size: 2em;
    text-shadow: 2px 2px black;
}

/*Cards location*/
.card {
    position: relative;
    height: 150px;
    width: 150px;
}

/*card face*/
.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 16px;
    border-width: 4px;
    border-style: solid;
    overflow: hidden;
    transition: transform 500ms ease-in-out;
}

/*back of card*/
.love-sign {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-value {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-front {
    transform: rotateY(180deg);
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}
.card.visible .card-front{
    transform: rotateY(0);
}
